body{
 background-image: linear-gradient(to right bottom, #ade0d5, #9edbd8, #91d5dd, #87cee1, #82c7e5, #77bfe7, #71b6e8, #6face8, #649fe8, #5f91e6, #6182e2, #6872dc);
 height: 100vh;
}
.container{
    margin-top:15vh; 
}

form{
    border: 4px solid #84BCE7;
    padding: 50px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #84bce7, #84bae7, #84b9e7, #84b7e7, #84b5e7, #84b4e7, #83b3e7, #83b2e7, #82b2e7, #81b1e7, #80b1e7, #7fb0e7);
}
.container{
 /*background-color: gray;*/
    /* text-align: left; */
}
h1{
    text-align: center;
    font-family: 18px;
}